{% extends "base.html" %}

{% block content %}

<h1>Delete Enrollment</h1>

<p>Are you sure you want to delete this enrollment:</p>
<table id="numbers">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Value</th>
        <th>Length</th>
    </tr>
    <tr>
        <td>{{object.startDate|date:"d D M Y"}}</td>
        <td>{{object.startDate|time:"H:i"}}</td>
        <td>{{ object }}</td>
        <td>{{object.length}}</td>
    </tr>
</table>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete.">
</form>

{% endblock %}